<% include ../layouts/header %>

<div class='row'>
  <div class='col-md-6 offset-md-3 mt-4'>
    <div class="card">
      <h2 class="card-header bg-dark text-white text-center">
        Reset Password
      </h2>
      <form method="POST" action="/auth/reset-password?token=<%= user.resetToken %>&email=<%= user.email %>">
      <div class="card-body">
        <% include ../layouts/form-errors %>
        <!-- <div class='form-group'>
          <label for="email">Email</label>
          <input type="email" name="email" value="<%= typeof user === 'undefined' ? '' : user.email %>" class='form-control' required autofocus>
        </div> -->

        <input type="hidden" name="email" value="<%= typeof user.email === 'undefined' ? '' : user.email %>">
        <input type="hidden" name="resetToken" value="<%= typeof user.resetToken === 'undefined' ? '' : user.resetToken %>">
        <label for="password">Password (must be at least 6 characters)</label>
        <input type="password" name="password" class="form-control mb-2" minlength="6" maxlength="32" required>

        <label for="passwordConfirmation">Confirm Password</label>
        <input type="password" name="passwordConfirmation" class="form-control" required>

      </div>
      <div class="card-footer">
        <div class='form-group'>
          <button type="submit" class='btn btn-large btn-primary'>Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<% include ../layouts/footer %>